*.log
*.json
*.yml
*.env
*.xml
*.lock
/*.php
/*.js
/*.gz
/*.zip
*.zip
*.txt
*.idea
artisan
config/*
node_modules/*
public/pics/*
public/publicgood*
public/storage/*
public/vendor/*
public/images/*
public/frontend/images/*
public/frontend/images_1/*
public/frontend/images_2/*
public/frontend/images_3/*
public/frontend/images_4/*

public/storage
images/
public_html*
storage/*
stubs/*
vendor/*
!resources/views/vendor/*
bootstrap/*
access_log*
error_log*
.htaccess

