
$width: 100
$gutter: 10
$columns: 12

@mixin clr
	&:after
		content: ""
		display: table-cell
		clear: both


.container
	margin-left: auto
	margin-right: auto
	padding-left: $gutter + px
	padding-right: $gutter + px
	.row
		margin-left: -$gutter + px
		margin-right: -$gutter + px
		+clr
		&>[class*="col-"]
			position: relative
			box-sizing: border-box
			min-height: 1px
			float: left
			padding-left: $gutter + px
			padding-right: $gutter + px

@for $i from 1 through $columns
	.col-#{$i}
		width: (($width / $columns) * $i) * 1%


	
	
	
	
	
=arr($width, $height, $bg, $direction)
	width: 0
	height: 0
	border-style: solid
	@if $direction == t
		border-width: 0 $width / 2 + px $height + px $width / 2 + px
		border-color: transparent transparent $bg transparent
	@if $direction == r
		border-width: $height / 2 + px 0 $height / 2 + px $width + px
		border-color: transparent transparent transparent $bg
	@if $direction == b
		border-width: $height + px $width / 2 + px 0 $width / 2 + px
		border-color: $bg transparent transparent transparent
	@if $direction == l
		border-width: $height / 2 + px $width + px $height / 2 + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == tl
		border-width: $height + px $width + px 0 0
		border-color: $bg transparent transparent transparent
	@if $direction == tr
		border-width: 0 $width + px $height + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == br
		border-width: 0 0 $height + px $width + px
		border-color: transparent transparent $bg transparent
	@if $direction == bl
		border-width: $height + px 0 0 $width + px
		border-color: transparent transparent transparent $bg
